body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  width: 960px;
  padding-top: 20px;
  background-color: #012647;
}

text {
  font-family: "RamaGothicM-Heavy",Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,"Helvetica Inserat","Bitstream Vera Sans Bold","Arial Black",sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 16rem;
  fill: #1072b8;
}
#btnDiv{
    margin-left: 42%;
    padding-top: 20%;
}

#donut {
    padding-top: 5%;
    padding-left: 12%;
  width: 29rem;
  height: 29rem;
  margin: 0 auto;
}

path.color0 {
  fill: #1072b8;
}

path.color1 {
  fill: #35526b;
}